In [1]:
import numpy as np 
import pandas as pd 
import os
os.listdir('/kaggle/input')

['machine-predictive-maintenance-classification']

In [2]:
stuDicti={
    'name': ['Kane','Johnny','K'],
    'makrs': ['90','28','69'],
    'places': ['UK','India','Japan']
}

In [3]:
stuDF= pd.DataFrame(stuDicti)

In [4]:
stuDF

     name makrs places
0    Kane    90     UK
1  Johnny    28  India
2       K    69  Japan

In [5]:
stuDF.to_csv('stu.csv')

use to export dataframe into excel

In [6]:
stuDF.to_csv('stu.csv',index=False)

In [7]:
stuDF.head(2)

     name makrs places
0    Kane    90     UK
1  Johnny    28  India

In [8]:
stuDF.tail(2)

     name makrs places
1  Johnny    28  India
2       K    69  Japan

In [9]:
stuDF.describe()

        name makrs places
count      3     3      3
unique     3     3      3
top     Kane    90     UK
freq       1     1      1

In [10]:
mdf=pd.read_csv('../input/machine-predictive-maintenance-classification/predictive_maintenance.csv')

In [11]:
mdf.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [12]:
mdf

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [13]:
mdf.head(2)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure

In [14]:
mdf['Type']

0       M
1       L
2       L
3       L
4       L
       ..
9995    M
9996    H
9997    M
9998    H
9999    M
Name: Type, Length: 10000, dtype: object

In [15]:
mdf['Type'][0]

'M'

In [16]:
mdf['Type'][0]='L'

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
mdf.to_csv('sample2.csv')

In [18]:
mdf.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,L,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [19]:
type(mdf)

pandas.core.frame.DataFrame

In [20]:
ser=pd.Series(np.random.rand(34))

In [21]:
type(ser)

pandas.core.series.Series

In [22]:
newdf= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [23]:
newdf

            0         1         2         3         4
0    0.329205  0.852800  0.811410  0.093145  0.782726
1    0.280443  0.541657  0.745602  0.430988  0.349229
2    0.164788  0.829936  0.742871  0.155112  0.896396
3    0.576158  0.725587  0.690783  0.577402  0.186344
4    0.151404  0.386941  0.074762  0.600241  0.657859
..        ...       ...       ...       ...       ...
329  0.636632  0.870220  0.952415  0.594300  0.619032
330  0.216527  0.253091  0.838126  0.622757  0.970453
331  0.566433  0.520846  0.851293  0.647026  0.172191
332  0.576656  0.682031  0.847130  0.219490  0.195513
333  0.346591  0.870923  0.518133  0.051370  0.333846

[334 rows x 5 columns]

In [24]:
newdf.head()

          0         1         2         3         4
0  0.329205  0.852800  0.811410  0.093145  0.782726
1  0.280443  0.541657  0.745602  0.430988  0.349229
2  0.164788  0.829936  0.742871  0.155112  0.896396
3  0.576158  0.725587  0.690783  0.577402  0.186344
4  0.151404  0.386941  0.074762  0.600241  0.657859

In [25]:
type(newdf)

pandas.core.frame.DataFrame

In [26]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.500789    0.513280    0.518105    0.498827    0.517038
std      0.293772    0.277941    0.283731    0.292267    0.282842
min      0.000222    0.000381    0.003069    0.001083    0.006517
25%      0.227885    0.289078    0.279130    0.247181    0.283096
50%      0.499022    0.534646    0.532447    0.500719    0.513991
75%      0.746005    0.729958    0.765617    0.766574    0.769583
max      0.999122    0.994374    0.998170    0.998979    0.999582

In [27]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [28]:
newdf[0][0]='Mr K'

In [29]:
type(newdf)

pandas.core.frame.DataFrame

In [30]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [31]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [32]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [33]:
newdf.to_numpy()

array([['Mr K', 0.8527996136567818, 0.8114095731058045,
        0.0931450742442459, 0.7827261150694015],
       [0.28044330556418917, 0.5416565251892109, 0.7456023657872456,
        0.43098819252330267, 0.349228994807426],
       [0.16478829361415082, 0.8299356244063125, 0.7428706150395703,
        0.15511226752780505, 0.8963963075186032],
       ...,
       [0.5664327625816924, 0.5208459620242282, 0.8512928899089461,
        0.6470259349957797, 0.17219062379364558],
       [0.5766560861649652, 0.6820308328219693, 0.847130443085711,
        0.21948987318020918, 0.1955131275556503],
       [0.3465910727702687, 0.870923134262231, 0.5181327351009045,
        0.05136958698297445, 0.33384612426987925]], dtype=object)

In [34]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,Mr K,0.280443,0.164788,0.576158,0.151404,0.975565,0.11682,0.402975,0.65939,0.668172,...,0.468724,0.210224,0.196285,0.293735,0.993826,0.636632,0.216527,0.566433,0.576656,0.346591
1,0.8528,0.541657,0.829936,0.725587,0.386941,0.38234,0.544403,0.477367,0.681436,0.191725,...,0.935355,0.04151,0.982135,0.875697,0.713284,0.87022,0.253091,0.520846,0.682031,0.870923
2,0.81141,0.745602,0.742871,0.690783,0.074762,0.992576,0.74137,0.236787,0.504227,0.776311,...,0.771616,0.24163,0.940998,0.71606,0.382863,0.952415,0.838126,0.851293,0.84713,0.518133
3,0.093145,0.430988,0.155112,0.577402,0.600241,0.334931,0.187499,0.622822,0.824014,0.219569,...,0.873381,0.49492,0.192238,0.324443,0.389828,0.5943,0.622757,0.647026,0.21949,0.05137
4,0.782726,0.349229,0.896396,0.186344,0.657859,0.046061,0.536582,0.607807,0.453169,0.445679,...,0.039358,0.306514,0.861641,0.043016,0.224541,0.619032,0.970453,0.172191,0.195513,0.333846

In [35]:
newdf.head()

          0         1         2         3         4
0      Mr K  0.852800  0.811410  0.093145  0.782726
1  0.280443  0.541657  0.745602  0.430988  0.349229
2  0.164788  0.829936  0.742871  0.155112  0.896396
3  0.576158  0.725587  0.690783  0.577402  0.186344
4  0.151404  0.386941  0.074762  0.600241  0.657859

In [36]:
newdf.head()

          0         1         2         3         4
0      Mr K  0.852800  0.811410  0.093145  0.782726
1  0.280443  0.541657  0.745602  0.430988  0.349229
2  0.164788  0.829936  0.742871  0.155112  0.896396
3  0.576158  0.725587  0.690783  0.577402  0.186344
4  0.151404  0.386941  0.074762  0.600241  0.657859

In [37]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.346591  0.870923  0.518133  0.051370  0.333846
332  0.576656  0.682031  0.847130  0.219490  0.195513
331  0.566433  0.520846  0.851293  0.647026  0.172191
330  0.216527  0.253091  0.838126  0.622757  0.970453
329  0.636632  0.870220  0.952415  0.594300  0.619032
..        ...       ...       ...       ...       ...
4    0.151404  0.386941  0.074762  0.600241  0.657859
3    0.576158  0.725587  0.690783  0.577402  0.186344
2    0.164788  0.829936  0.742871  0.155112  0.896396
1    0.280443  0.541657  0.745602  0.430988  0.349229
0        Mr K  0.852800  0.811410  0.093145  0.782726

[334 rows x 5 columns]